

/* arrow slide */

.my-arrow{
    z-index: 1000;
    width: 3rem;
    height: 3rem;
    background-color: #0575666b;
    border-radius:50%;
    cursor: pointer;
    top:calc(50% - 1.5rem);
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color:white;
}
.my-arrow:hover {
    background:#00483d89 !important;
    opacity: 1;
}

.my-arrow::before{
    font-family: "fontAwesome" !important;
    color:#111;
}

